<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theodoroskotoufos.healthcard">

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2,         androidx.camera.core,         androidx.camera.view,         androidx.camera.lifecycle" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCard">
        <activity android:name=".FingerActivity"></activity>
        <activity
            android:name=".MyProfileActivity"
            android:theme="@style/Theme.HealthCard.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.HealthCard.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".facetec.facetecapp.FacetecAppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>